<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose service</title>
</head>
<body>
<div style="display: flex;
justify-content: center;
align-items: center;
flex-direction: column">
    <h1>Choose action:</h1>
    <a href="/statistics/weather/weather-data-for-time-period-request-form">Weather archive data for time period</a><br/>
    <a href="/statistics/weather/weather-forecast-for-time-period-request-form">Weather forecast for time period</a><br/>
</div>
</body>
</html>